
.cartoon-section {
    padding: 20px 50px;
    color: #193046;
    margin: 0 auto;
    text-align: center;
}

.centered {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

@media (max-width: 425px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        padding: 0;
    }

    .cartoon-section {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        padding: 0;
    }

    .cartoon-section {
        padding: 10px 20px;
    }
}