
.cartoon-section {
    padding: 20px 50px;
    color: #193046;
    margin: 0 auto;
    text-align: center;
}

.centered {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}