
.section-container h2 {
    text-align: left;
}

.section-container p {
    padding-right: 20px;
    margin-bottom: 10px;
}

.margin-top-followup {
    margin-top: 40px;
}

.blue {
    color: #38dffe;
}