
.section-container h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-container p {
    padding-right: 20px;
    margin-bottom: 10px;
}

.margin-top-followup {
    margin-top: 20px;
}

.blue {
    color: #38dffe;
}

.unorderd-list {
    list-style-type: disc;
    padding-left: 20px;
    padding-right: 20px;
}

b {
    font-weight: 900;
}